@model IEnumerable<web.Models.ObjavaNudimOa>

@{
    ViewData["Title"] = "Index";
}

<h1>Nudim asistenco</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th style="min-width: 80px;">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ImeSortParm"]">@Html.DisplayNameFor(model => model.Ime)</a>
            </th>
            <th style="min-width: 80px;">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PriimekSortParm"]">@Html.DisplayNameFor(model => model.Priimek)</a>
            </th>
            <th style="min-width: 100px;">
                @Html.DisplayNameFor(model => model.Lokacija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th style="min-width: 100px;">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DatumObjaveSortParm"]">@Html.DisplayNameFor(model => model.DatumObjave)</a>
            </th>
            <th style="min-width: 100px;">
                @Html.DisplayNameFor(model => model.AvtorObjave)
            </th>
            <th style="min-width: 100px;"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priimek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lokacija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumObjave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvtorObjave)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
